# IMPORTANT: The last matching entry has the highest precedence.

# The GIX team members who maintain this repo:
* @bitdivine

# The codebase is owned by the OISY team at DFINITY
# For questions, reach out to: <oisy-wallet@dfinity.org>
.github/CODEOWNERS @dfinity/gix @dfinity/oisy
