name: 'Integration checks'
on:
  push:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
defaults:
  run:
    shell: bash -euxlo pipefail {0}
jobs:
  integration:
    name: Integration tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install dfx
        uses: dfinity/setup-dfx@e50c04f104ee4285ec010f10609483cf41e4d365 # main
      - name: Start dfx
        run: dfx start --clean --background
      - name: Deploy canisters
        run: dfx deploy
      - run: ./scripts/test.integration.sh
