name: 'PR'
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - labeled
permissions:
  contents: read
jobs:
  pr:
    name: 'pr'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    env:
      TITLE: ${{ github.event.pull_request.title }}
    steps:
      - name: Conventional commits
        run: |
          if [[ "$TITLE" =~ ^(feat|fix|chore|build|ci|docs|style|refactor|perf|test)( ?\([-a-zA-Z0-9, ]+\))\!?\: ]]; then
              echo "PR Title passes"
          else
              echo "PR Title does not match conventions: $TITLE"
              echo "   verb(scope): description"
              echo "or for a breaking change:"
              echo "   verb(scope)!: description"
              echo "For scope, please use the affected canister name(s), rust crate name(s) or 'ci' for infrastructure changes."
              exit 1
          fi
  pr-pass:
    name: 'pr-pass'
    needs: ["pr"]
    if: ${{ always() }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Check that all required steps have succeeded
        uses: ./.github/actions/needs_success
        with:
          needs: '${{ toJson(needs) }}'
